.albumInfo-card {
    margin-top: 20px;
    width: 80%;
}

.albumInfo-card p {
    margin: 5px auto !important;
}

.albumName-container {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
}

.marquee {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 12s linear infinite;
    padding-left: 100%;
}

@keyframes marquee {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

.album-info {
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.album-release {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}